@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@300&display=swap');
.navbar-container{
    background-color: hsl(0, 0%, 16%);
    border-radius: 0 40px 40px 0px;
    height: 100%;
}
.navbar-head{
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    padding-top:20px;
    font-size: xx-large;
}

.navbar-link-div{
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
}


@media screen and (max-width:850px) {
    .navbar-head{
        display: none;
    }
    .navbar-container{
        height: 400px;
        position: fixed;
        width: 400px;
        z-index: 20;
    }

}