@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@300&display=swap');
.bg-img{
  width: 100%;
  position: fixed;
  z-index: -1;
  height: 100%;
}

.main-body-head{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
}
h2{
  color: white;
  margin: 60px 0px 10px 40px;
}
.search-div{
  width: 30%;
  margin-left: 3%;
  border: 2px solid white;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.footer{
  height: 60px;
  width: 100%;
  background-color: #f30050;
}
.searchbox{
  border: none;
  color: white;
  width: 80%;
  height: 100%;
  background:transparent;
  border-radius: 20px;
  color: white;
  padding-left: 3%;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
input:focus{
  outline: none;
}
input::placeholder{
  color: white;
  font-weight: 600;
}
.left-head{
  display: flex;
  margin-top: 3%;
  justify-content: space-between;
}

.connect-button{
  height: 100%;
  margin: auto 50px;
  color: white;
  /* background-color: #711043; */
  border-radius: 20px;
  background-image: linear-gradient(to right, #7b0f36 0%, #6c104a 51%, #5d115e 100%);
  width: 14%;
  font-size: large;
  border: transparent;
}

.main-body{
  display: flex;
  flex-direction: column;
}

.main-body-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px 40px;
  gap: 5px;
  flex-wrap: wrap;  
}
.nav-lap{
  height: 100%;
}
.nav-mobile{
  display: none;
}

.left-head-mobile{
  display: none;
}

@media screen and (max-width:850px) {

  .main-body-content{
    grid-template-columns: 1fr;
  }
  .left-head-mobile{
      display: grid;
      grid-template-rows: 1fr 1fr;
  }
  .row-1-top{
      display: flex;
      justify-content: space-between;
      width: 90%;
      padding: 10px;
      margin: auto;
  }

  .search-div{
    margin: auto;
    width: 95%;
  }

  .left-head{
    display: none;
  }
  .nav-lap{
    display: none;
  }
  .main-body-head{
    display: block;
  }
  .search-div{
    width: 80%;
  }

  .navbar-head-app{
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    padding-top:20px;
    font-size: large;
    margin: auto 0;
}
.connect-button{
  height: 30px;
  width: 80px;
  font-size: medium;
  margin-bottom: 0;
}

.bg-img{
  display: none;
}
.top-head{
  background-color: grey;
  min-height: max-content;
}
}
